@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --banner-bg: #183d3d;
  --banner-margin: 20px;
}


#timeline {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  box-shadow: 0px 0px 10px black;
  max-width: 600px;
  transition: max-width 0.5s ease-in-out;
  background-color: var(--banner-bg);
}

#timeline.hidden {
  max-width: 0px;
}

#timeline-close {
  position: absolute;
  top: var(--banner-margin);
  right: 0px;
  background-color: var(--banner-bg);
  color: white;
  padding: 5px;
  padding-top: 0px;
  z-index: 1;
  display: inline;
  cursor: pointer;
  font-size: 1.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rightbox {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  margin: auto;
  display: block;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: block;
}

.rb-container ul li {
    list-style-type: square;
}

.rb-container ul.rb li.rb-item {
  list-style: none;
  margin: auto;
  margin-left: 5em;
  margin-right: 5em;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li.rb-item:last-child {
  border-left: 0;
}

.rb-container ul.rb li.rb-item::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li.rb-item:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li.rb-item .timestamp {
  color: #50d890;
  width: 100%;
  font-size: 12px;
}

.item-title {
  color: #fff;
  width: 100%;
  font-size: 14px;
}

